*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-class{
    display: grid;
    grid-template-areas: 
    "filtros card1 card2 card3 card4"
    "filtros card9 card10 card11 card12";
    grid-template-columns: 14% 21.5% 21.5% 21.5% 21.5%;
    

}


.filtros_capacitaciones{
    grid-area: filtros;
}

.card4{
    grid-area: card1;
    
}

.card1{
    grid-area: card2;
   
}
.card2{
    grid-area: card3;
    
}
.card3{
    grid-area: card4;
    
}
.card12{
    margin-top: 5px;
    grid-area: card9;
    
}
.card9{
    margin-top: 5px;
    grid-area: card10;
    
}
.card10{
    margin-top: 5px;
    grid-area: card11;
}
.card11{
    margin-top: 5px;
    grid-area: card12;
}


/*
.div-dos{
    background-color: rgba(240, 255, 255, 0.616);
    display: map-get($map: $standard , $key: display-standard );
    align-items:stretch ;
}
.div-dos{
    background-color: rgba(240, 255, 255, 0.616);
    display: map-get($map: $standard , $key: display-standard );
    align-items:stretch ;
}
.section-capacitaciones{
    
    display:map-get($map: $standard , $key: display-standard );

}
.section1{
    @include medidas(180px, 10px);
    @extend %obelisco;
}

.section2{
    @include medidas(180px, 10px);
    @extend %obelisco;
}

.section3{
    
    @include medidas(180px, 10px);
    @extend %obelisco;
    
}
*/