*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.div-medio{
    display: flex;
    
}

    /* - - - - section barra - - - - - */
    
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        .div-dos{
            background-color: rgba(240, 255, 255, 0.616);
            display: flex;
            align-items:stretch ;
        }
        .div-dos{
            background-color: rgba(240, 255, 255, 0.616);
            display: flex;
            align-items:stretch ;
        }
    }

    .main-class{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .div-dos{
        background-color: rgba(240, 255, 255, 0.616);
        display: flex;
        align-items:stretch ;
    }

    /* capacitaciones */

    .section-capacitaciones{
        
        display:flex;

    }

    

/*------------footer capacitaciones-----------*/



/*footer*/
/*footer compartido con los demas archivos*/

/* -------------------------------------------------*/


/*--bootstrap tarjetas-*/


.section1{
    grid-area: section1;
    width: 180px;
      height: 180px;
      margin: 10px;
}

.section2{
    grid-area: section1;
    width: 180px;
      height: 180px;
      margin: 10px;
}

.section3{
    grid-area: section1;
    width: 180px;
      height: 180px;
      margin: 10px;
}